<md-card>
  <md-card-header>
    <md-icon md-card-avatar color="accent">account_box</md-icon>
    <md-card-title><h3 *ngIf="user.email != ''">Edit User</h3><h3 *ngIf="user.email ==''">Create User</h3></md-card-title>
  </md-card-header>
  <md-card-content>
    <form [formGroup]="userInfo" (ngSubmit)="createUser(userInfo.value, userInfo.valid)"  class="user_edit_form">
      <md-input-container class="full-width">
        <input mdInput required type="email" placeholder="Email Address" formControlName="email" value="{{user.email}}" name="email"/>
      </md-input-container>
      <app-validation-messages [control]="userInfo.controls.email"></app-validation-messages>
      <table class="full-width"  cellspacing="0">

        <tr>
          <td>
            <md-input-container class="full-width">
              <input mdInput placeholder="First name" formControlName="first_name"  value="{{user.first_name}}"/>
            </md-input-container>
            <app-validation-messages [control]="userInfo.controls.first_name"></app-validation-messages>

          </td>

          <td>
            <md-input-container class="full-width">
              <input mdInput placeholder="Last Name"  formControlName="last_name" value="{{user.last_name}}"/>
            </md-input-container>
            <app-validation-messages [control]="userInfo.controls.last_name"></app-validation-messages>

          </td>
        </tr>
      </table>
      <input type="submit" value="Save">
    </form>

  </md-card-content>
</md-card>

